/*
	Name: Minstata
	Date: May 2013
	Description: Truck transport and trucking services.
	Version: 1.0
	Author: 
	Autor URI: 
*/
 
/* Imports */
@import url("reset.css");

 
/***** Global *****/
/* Body */
	body {
		background-color: #fff;
		color: #0069a8;
		font-size: 100%; /* Base font size: 16px */
		font-family: "Univers5", Helvetica, Arial, sans-serif;
		font-weight: normal;
		line-height: 1.75; /* 28px */
		margin: 0;
		padding: 0;
		text-align: left;
		min-height: 100%;
	}
.clear { clear: both; }
.center { width:80%; margin: 0 10%; }
.align_center { text-align: center; }
section, header { position: relative; }
body.no-scroll { height: 100%; overflow: hidden; }


/*** "Mobile" - Default, linear layout */
header {
	position: relative;
	width: 100%;
	padding: 1.25em 0;
	z-index: 301;
}
#logo {
	width: 70px;
	height: 60px;
	float: left;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-size: 100%;
}
header .menu_btn {
	display: block;
	width: 20px;
	height: 16px;
	margin: 6px 0;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	float: right;
	padding: 16px 14px;
}
header p {
	font-size: 1em;
	color: #747474;
	clear: both;
	padding: 1em 0; /* 16px of base 16px */
	margin-top: 1.25em;
	text-align: center;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
header p a {
	color: #0069a8;
	display: block;
	text-decoration: none;
}
header h2, section h2 { display: none; }


#philosophy { display: none; }


#works { padding: 1.875em 0;  }
#works .big_btn, #contact_btn {
	width: 220px;
	height: 110px;
	padding-right: 4px;
	background-repeat: no-repeat;
	background-size: 147px;
	background-position: right bottom;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2em;
}
#works .title, #contact_btn .title {
	width: 100%;
	height: 67px;
	line-height: 67px!important;
	font-size: 1em;
	color: #fff;
	text-align: center;
	display: block;
	background-color: #4095e4;
}
#works .triangle, #contact_btn .triangle {
	width: 42px;
	height: 42px;
	display: block;
	background-repeat: no-repeat;
	background-size: 42px;
}
.big_btn#behance { margin-bottom: 4em; }
#linkedin { padding-bottom: 5px; }
#linkedin .title { background-color: #0079b5; }
#description { display: none; }


#job-ad {
	background: #3387b9 url(../images/job_image.jpg) no-repeat center 90px;
	background-size: 640px;
	padding-bottom: 3em;
}
#job-ad .center {
	padding-top: 16.7857143em;
}
#job-ad h3 {
	font-size: 1.7142857142857142em;
	font-family: "Warnock", serif;
	font-style: italic;
	color: #fff;
	text-align: center;
	width: 84.21052631578947%;
	margin: 2.75em 7.894736842105263% 0.875em;
}
#job-ad h3.main {
	font-size: 2.142857142857143em;
	margin-top: 0;
}
#job-ad p {
	color: #fff;
	width: 100%;
	margin: 0 0 20px;
}
#contact_btn {
	margin-bottom: -28px;
	margin-top: 5px;
}
#contact_btn .title {
	background-color: #daedf7;
	color: #3387b9;
	font-size: 1.2857142857142858em;
	text-transform: none;
}

#about {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: scroll;
	background-color: #eeeeee;
	z-index: 303;
	display: none;
}
#about .center {
	position: relative;
	text-align: center;
}
header .menu_btn.close {
	width: 20px;
	height: 20px;
	padding: 16px;
	background-color: transparent;
}
#about p {
	font-size: 1em;
	color: #747474;
	padding: 0.5em 0;
}
#about a.email {
	font-size: 2em;
	font-family: "Warnock", serif;
	text-decoration: none;
	color: #0069a8;
	padding: 0.125em 0.25em;
	margin: 1em 0;
	display: inline-block;
}
#about li {
}
#about li a {
	font-size: 1em;
	color: #363636;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}



/* "Tablets" or small screen */
@media screen and (min-width : 740px) {

	body { font-size: 112.5%; }
	header .center { 
		position: relative;
		border-bottom: 1px solid #dddddd;
	}
	#logo {
		width: 80px;
		height: 70px;
		margin-bottom: 1em;
	}
	header p {
		position: absolute;
		border: none;
		right: 10%;
		top: 0px;
		padding: 0;
		margin: 0;
		text-align: right;
		line-height: 60px;
		width: 80%;
		font-size: 0.8888888888888888em;
	}
	header p a { display: inline-block!important; }

	
	
	#philosophy {
		display: block;
		padding: 3em 0;
	}
	#philosophy li {
		text-align: center;
		color: #0069a8;
		font-size: 2.142857142857143em;
		font-family: "Warnock", serif;
		font-style: italic;
		display: none;
		position: relative;
		left: -35px;
		opacity: 0;
	}
	#philosophy li.on { display: block; left: 0; opacity: 1; }
	#philosophy span.quote {
		position: relative;
	}
	#philosophy span.person {
		font-size: 0.36666666666666664em;
		color: #8a8a8a;
		font-style: normal;
		display: block;
		position: absolute;
		right: -2em;
		bottom: -2em;
	}
	
	
	#works { padding: 3em 0; }
	.fl_l { float: left; }
	.fl_r { float: right; }
	#works .fl_l,#works .fl_r { width: 50%; }
	.big_btn#behance {
		float: right;
		margin: 0 1.4285714285714286em 2em 0;
	}
	.big_btn#linkedin {
		float: left;
		margin: 0 0 2em 1.4285714285714286em;
	}
	#description {
		text-align: center;
		display: block;
	}
	#description a {
		font-size: 0.7777777777777778em;
		color: #a3a3a3;
		line-height: 429.5714285714286%;
	}
	#description a.active {
		font-size: 1em;
		color: #0069a8;
		text-decoration: none;
		font-family: "Warnock", serif;
		padding: 0 2em 0 1em;
		line-height: 333.33333333333335%;
		background-position: right center;
		background-repeat: no-repeat;
	}
	#description p { 
		display: none; 
		color: #747474; 
		font-size: 0.75em; 
		width: 41.796875%;
		margin: 1em 29.1015625% 3em; 
	}
	
	
	#job-ad { background-size: 700px; }
	
	

}


/* "Desktop" */
@media screen and (min-width: 1201px) { 

	body {
		font-size: 150%; /* 24px */
		line-height: 1.7142857142857142; /* 48px */
	}
	header {
		padding: 1.5em 0;
	}
	header .center {
		border: none;
	}
	#logo {
		width: 100px;
		height: 85px;
		margin: 0;
	}
	header h2, section h2 {
		display: block;
		position: absolute;
		height: 100%;
		width: 1.75em;
		background-color: #363636;
		top: 0;
		left: 0;
		background-repeat: repeat-x;
		background-position: left bottom;
	}
	header h2 .name, section h2 .name {
		display: block;
		color: #fff;
		font-size: 0.5em;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		width: 100px;
		text-align: center;
		left: -30px;
		margin-top: -0.8571428571428571em;
		
		/* Safari */
		-webkit-transform: rotate(-90deg);
		/* Firefox */
		-moz-transform: rotate(-90deg);
		/* IE */
		-ms-transform: rotate(-90deg);
		/* Opera */
		-o-transform: rotate(-90deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	header h2 .arrow, section h2 .arrow {
		width: 0px;
		height: 0px;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-left: 9px solid #363636;
		position: absolute;
		left: 1.75em;
		top: 50%;
		margin-top: -9px;
	}
	header p {
		font-size: 0.6428571428571429em;
	}
	
	
	#works .title { font-size: 0.75em; }
	#description a { font-size: 0.6666666666666666em; }
	#description a.active { line-height: 250%; }
	#behance:hover .title { background-color: #55adff; }
	#linkedin:hover .title { background-color: #2095cf; }
	
	
	#job-ad { background-size: 1280px; }
	#job-ad h3 { width: 62.5%; margin: 2.75em 18.75% 0.875em; }
	#job-ad h2 .name { top: 15em; }
	#job-ad h2 .arrow { top: 7.5em; }
	#job-ad p { width: 75%; margin: 0 12.5% 20px; }
	#contact_btn { width: 240px; }
	#contact_btn .title { padding: 5px 10px; }
	#contact_btn:hover .title { background-color: #fff; }
	
		
	#about a.email:hover { background-color: #0069a8; color: #fff; }
	#about li a:hover { background-color: #3a3a3a; color: #fff; }
	#about p, #about li a { font-size: 0.75em; }
	#about a.email { font-size: 1.5em; } 
	
}

@media screen and (min-width: 1500px) {

	body { font-size: 175%; }
	header .menu_btn { 
		width: 26px;
		height: 20px;
		padding: 20px 17px;
		background-size: 26px;
	}
	header p { margin: 6px 0; }
	header h2 .name, section h2 .name { left: -26px; }
	
	
	#job-ad .center { width: 1200px; margin: 0 auto; }
	#contact_btn { width: 260px; margin-bottom: -15px; position: relative; left: -20px; }
	#contact_btn .title { padding: 10px 20px; }
	#contact_btn .triangle { width: 58px; height: 58px; background-size: 58px; }

} 