
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,300italic);

@import "settings";
@import "foundation";
@import "mixins";

$content-spacing: rem-calc(60);

h3 {
	font-weight: $font-weight-normal;
	font-family: $font-family-sans-serif;
	margin: rem-calc(30) 0;
}

.panel { margin-bottom: $content-spacing; }

ul.disc, ol {
	font-weight: $font-weight-light;
	& li {
		margin-bottom: $paragraph-margin-bottom/2;
	}
}


// -----------
//   TOP BAR
// -----------

.contain-to-grid {
	@include border(0 0 1px 0, #eeeeee);
	padding: 10px 0;
	@media #{$medium-up} {
		padding: $topbar-height/2 0;
	}
	@include transition(padding, 300ms);
	.top-bar {
		&.expanded {
			overflow: visible;
			.top-bar-section {
				position: relative;
				top: 10px;
				text-align: center;
			}
		}
		.title-area {
			@media #{$medium-up} {
				width: ($row-width - $row-center-width)/2;
			}
			.logo {
				background: url(/images/logo.svg) no-repeat;
				background-size: 100% 100%;
				height: 50px;
				max-width: 20%;
				@media #{$medium-up} {
					max-width: 100%;
					height: 60px;
					margin-top: -5px;
				}
				text-indent: -9999px;
			}
		}
		.top-bar-section {
			ul {
				li {
					& > a {
						text-transform: uppercase;
					}
				}
			}
			.social-links {
				display: none;
			}
			@media #{$medium-up} { 
				.social-links {
					display: block;
					a {
						display: block;
						i {
							display: block;
						}
						&.no-padding {
							padding: 0 .25rem !important;
						}
					}
				}
			}
		}
	}
	&.smaller {
		padding: 10px 0;
		@include opacity(.98);
		.ic-icon {
			&:hover {
				&:after {
					display: none;
				}
			}
		}
	}
}
.ic-icon {
	display: inline-block;
	width: 46px;
	height: 46px;
	border: 2px solid transparent;
	position: relative;
	@include border-radius(23px);
	@include opacity(.5);
		@include transition(all, 300ms);
	&:hover {
		@include opacity(1);
		&:after {
			content: '';
			position: absolute;
			top: 46px;
			display: block;
			height: 18px;
			line-height: 18px;
			width: 100%;
			font-size: rem-calc(10);
			font-align: center;
			color: $text-light;
			font-style: normal;
		}
	}
}
.ic-social-twitter { 
	background: url(/images/twitter_icon.svg) no-repeat center center; 
	&:hover {
		border-color: #55acee; 
		&:after {
			content: 'Twitter';
		}
	}
}
.ic-social-dribbble { 
	background: url(/images/dribbble_icon.svg) no-repeat center center; 
	&:hover {
		border-color: #ea4c89; 
		&:after {
			content: 'Dribbble';
			
		}
	}
}
.ic-social-linkedin { 
	background: url(/images/linkedin_icon.svg) no-repeat center center; 
	&:hover {
		border-color: #006fa6; 
		&:after {
			content: 'LinkedIn';
			
		}
	}
}



// ---------------
//   PAGE HRADER
// ---------------


.page-header {
	background-color: #f0f0f0;
	// color: white;
	h1 {
		margin-top: rem-calc(80);
		margin-bottom: rem-calc(10);
	}
	.subline {
		color: $text-light;
		font-size: 1.111rem;
		margin: rem-calc(10) 0 rem-calc(65) 0;
	}
	p {
		color: $text-light;
		margin-bottom: $content-spacing;
		max-width: 30rem;
	}
	&.dark {
		background-color: #38163B;
		color: white;
		& h1 {
			color: white;
		}
	}
	.row.align-center {
		max-width: $row-center-width;
	}
}


// -----------
//   CONTENT
// -----------

.content-section {
	padding: $content-spacing 0 0 0;
	@include border(0 0 1px 0, #eeeeee);
	&.darker {
		background-color: #fafafa;
	}
	&.nopad-b {
		padding-bottom: 0;
	}
	.row {
		margin-bottom: $content-spacing;
		& > .columns {
			& h2:first-child {
				margin-top: 0;
			}
			& p:last-child {
				margin-bottom: 0;
			}
		}
		&.align-center {
			max-width: $row-center-width;
		}
	}
	.project-img {
		height: 300px;
		margin-bottom: 30px;
		display: block;
	}
	a.link {
		@include underline($anchor-font-color);
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		    @include underline($anchor-font-color, 0.5)
		}
	}
	&.project {
		div:first-child {
			padding-top: 50px;
		}
		h2 {
			margin-bottom: .25rem;
		}
		.text-right {
			.tags {
				float: right;
				li:last-child {
					margin-right: 0;
				}
			}
		}
		p {
			clear: both;
		}
	}
}

.tags {
	margin-left: 0;
	margin-bottom: rem-calc(30);
	li {
		font-size: 0.750rem;
		font-family: $font-family-serif;
		font-style: italic;
		color: $text-light;
		font-weight: $font-weight-light;
		margin: 0 5px 0 0;
		&:before {
			content:'\2022';
			padding-right: 5px;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

.al-c {
	text-align: center;
}

img {
	max-width: 100%;
	margin-bottom: $paragraph-margin-bottom/2;
	@include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.275));
}

blockquote {
	font-family: $font-family-serif;
	font-weight: $font-weight-light;
	font-style: italic;
	font-size: 0.889rem;
	line-height: 200%;
	border-width: 2px;
	cite {
		margin-bottom: rem-calc(10);
	}
}

.caption {
	@extend blockquote;
	font-size: 0.778rem;
	line-height: $base-line-height;
	border-width: 1px;
	text-align: left;
	span {
		font-weight: $font-weight-normal;
		margin-bottom: rem-calc(10);
		display: block;
		color: $text-body;
	}
}


// ----------
//   FOOTER
// ----------

.page-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: DarkGrey;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
