
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,300italic);

@import "settings";
@import "foundation";
@import "mixins";

h3 {
	font-weight: $font-weight-normal;
	font-family: $font-family-sans-serif;
	margin: rem-calc(30) 0;
}

a {
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	@include underline($anchor-font-color);
	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	    @include underline($anchor-font-color, 0.5)
	}
	/*
	&:hover, &:focus {
	    @include underline($anchor-font-color);
	    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	      @include underline($anchor-font-color, 0.5)
	    }  
	}
	*/
}

.columns.dark {
	background-color: #f3f3f3;
}

ul.disc, ol {
	font-weight: $font-weight-light;
	& li {
		margin-bottom: $paragraph-margin-bottom/2;
	}
}

.contain-to-grid {
	@include border(0 0 1px 0, #cccccc);
}

.top-bar {
	.logo {
		background: url(/images/logo.svg) no-repeat;
		background-size: 100% 100%;
		width: 69px;
		height: $topbar-height;
		text-indent: -9999px;
	}
	.top-bar-section {
		ul {
			li {
				a {
					text-transform: uppercase;
				}
			}
		}
	}
}

.page-header {
	background-color: #f0f0f0;
	// color: white;
	h1 {
		margin-top: rem-calc(80);
		margin-bottom: rem-calc(10);
	}
	.subline {
		color: $text-light;
		font-size: 1.111rem;
		margin: rem-calc(10) 0 rem-calc(65) 0;
	}
	p {
		color: $text-light;
		margin-bottom: rem-calc(60);
	}
	&.dark {
		background-color: #38163B;
		color: white;
		& h1 {
			color: white;
		}
	}
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.al-c {
	text-align: center;
}

img {
	max-width: 100%;
	margin-bottom: $paragraph-margin-bottom/2;
	@include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.275));
}

.row {
	&.align-center {
		max-width: 40rem;
	}
}

blockquote {
	font-family: $font-family-serif;
	font-weight: $font-weight-light;
	font-style: italic;
	font-size: 0.889rem;
	line-height: 200%;
	border-width: 2px;
	cite {
		margin-bottom: rem-calc(10);
	}
}

.caption {
	@extend blockquote;
	font-size: 0.778rem;
	line-height: $base-line-height;
	border-width: 1px;
	text-align: left;
	span {
		font-weight: $font-weight-normal;
		margin-bottom: rem-calc(10);
		display: block;
		color: $text-body;
	}
}


.content-section {
	padding: rem-calc(60) 0;
	@include border(0 0 1px 0, #cccccc);

	
	& > div:first-child {
		h2 {
		margin-top: 0;
		}
	}

	.project-img {
		height: 300px;
		// position: relative; 
		// top: 2rem; 
		margin-bottom: 0
	}
}

.page-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: DarkGrey;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
